h1{
  color : rgb(81, 0, 255)
}

button{
  background-color: rgb(192, 255, 248);
}


.hamburger {
  display: block;
  cursor: pointer;
  padding: 15px;
  position: relative;
  user-select: none;
}

.hamburger span {
  background-color: #000;
  display: block;
  height: 2px;
  position: relative;
  transition: background-color 0.3s ease-out;
  width: 25px;
}

.hamburger span:first-child {
  top: 0;
}

.hamburger span:last-child {
  bottom: 0;
}

.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  
  .menu {
    display: block;
  }
}